.getTable{
    margin:0 120px 0 120px;
    background-color: #eeeeee;
}

.buttons {
    margin:0 120px 0 120px;
}

#deleteBtn {
    background-color: #ce1126;
    border-color: #990d1e;
}

#deleteBtn:hover {
    background-color: #7c0f1b;
}